// utils styles
@import "./utils/variables";
@import "./utils/visually-hidden";

// base styles
@import "./base/module";

// component styles 
@import "./components/address";
@import "./components/backdrop";
@import "./components/buttons";
@import "./components/container";
@import "./components/filter";
@import "./components/footer-form";
@import "./components/footer-icons";
@import "./components/header";
@import "./components/icon-networks";
@import "./components/line";
@import "./components/logo";
@import "./components/modal";
@import "./components/phone";
@import "./components/section";
@import "./components/site-nav";

// layout styles
@import "./layouts/clients";
@import "./layouts/doing";
@import "./layouts/footer";
@import "./layouts/hero";
@import "./layouts/team";
@import "./layouts/vantage";
@import "./layouts/works";