.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item:not(:last-child) {
        margin-right: 8px;
    }
    
    &__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        cursor: pointer;
        font-family: Roboto, sans-serif;
        background: var(--filter-button-backround);
        border-radius: 4px;
        border: 0;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: all;
    }
    
    &__button--current {
        background-color: var(--accent-color);
        color: var(--background-color);
    }
    
    &__button:hover,
    &__button:focus {
        color: var(--background-color);
        background-color: var(--hover-color);
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}