.header {
    border-bottom: 1px solid #ececec;
    width: 100%;
    min-height: 80px;
    background-color: var(--background-color);
}

.container--header {
    display: flex;
    align-items: center;
}