.line {
    position: relative;
    display: block;
    &::after {
        position: absolute;
        display: block;
    
        content: '';
        bottom: -1px;
        height: 4px;
        width: 100%;
    
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}