.header__logo {
  display: block;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  padding-top: 16px;
  padding-bottom: 16px;

  &-studio {
    color: #212121;
  }

  @media screen and (max-width: 1199px) {
    width: 134px;
  }
}

.footer-logo {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    gap: 165px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }

  &__link {
    display: block;
    color: #2196f3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
      margin-right: 70px;
    }
  }

  &__span {
    color: #ffffff;
  }
}
