.site-nav {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        display: block;
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link:hover,
    &__link:focus {
        color: var(--hover-color);
    }
    
    & .current {
        color: var(--accent-color);
    }
}