h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

p {
    color: var(--primary-text-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}