:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hover-color: #2196f3;
    --background-color: #ffffff;
    --hero-background: #2f303a;
    --hero-color: #ffffff;
    --button-hero-color: #ffffff;
    --backround-button-hero: #2196f3;
    --backround-button-hover: #188ce8;
    --filter-button-backround: #f5f4fa;
    --footer-backround: #2f303a;
    --cliets-and-icon-grey: #afb1b8;
}