.doing {
    padding-top: 0;

    &__list {
        display: flex;
    }
    
    &__item {
        position: relative;
        z-index: -1;
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    
    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
        color: var(--button-hero-color);
    
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }
}