.vantage {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    &__thumb {
        background: var(--filter-button-backround);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
    }
    
    &__title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        width: 450px;
        margin-bottom: 10px;
    }
    
    // &__item {
    //     flex-basis: calc((100% - 30px * var(--items) - 1) / var(--items));
    // }
    
    &__text {
        width: 450px;
    }
}

@media screen and (max-width: 767px) {
.vantage__title {
    text-align: center;
}
}

@media screen and (min-width: 768px) {
    .vantage__thumb, 
    .vantage__title, 
    .vantage__text {
    width: 354px;
    }
}

@media screen and (min-width: 1200px) {

    .vantage__thumb,
    .vantage__title,
    .vantage__text {
    width: 270px;
    }
}
    
    // --items: 1;
    
    // @media screen and (min-width: 768px) {
    //     --items: 2;
    // }
    
    // @media screen and (min-width: 1200px) {
    //     --items: 4;
    // }