.works {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        margin-bottom: 30px;
    }
    
    &__link {
        display: block;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: all;
    }
    
    &__link:hover,
    &__link:focus {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    &__item:nth-child(3n) {
        margin-right: 0;
    }
    
    &__item:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
    
    &__item:hover .works-card__overlay {
        transform: translateY(0);
    }

    &__link:hover .works-card__overlay,
    &__link:focus .works-card__overlay {
        transform: translateY(0);
    }
}

.works-card {
    position: relative;
    overflow: hidden;

    &__text {
        font-size: 18px;
        line-height: 1.5;
        color: var(--hero-color);
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    
        transform: translateY(100%);
    
        background-color: rgba(33, 150, 243, 0.9);
        padding: 63px 24px;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.works-card-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #eeeeee;
    border-top: none;

    &__title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }
    
    &__text {
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        margin-top: 4px;
    }
}